Makefile.local
minimizer
ahfull
gfdb_build
gfdb_build_ahfull
gfdb_extract
gfdb_info
gfdb_redeploy
gfdb_specialextract
source_info
crust
eulermt
differential_azidist
eikonal_benchmark
python/build
*.d
*.o
*.mod
*.pyc
*.do
*.a
.dummyomplib
.dummysacio
.mseedsimple
.sminpackdone
benchmark/benchdb*
benchmark/material.table
benchmark/stf.table
kiwi_home.f90
