#!/usr/bin/env python

from tunguska.configurator import Config

km = 1000.

base_config = Config(
    base_dir = '/kinherd/sc-kiwi',
    event_dir = '%(base_dir)s/events/%(event_name)s',
    seed_volume = '%(event_dir)s/data.seed',
    #edump_data_dir = '%(event_dir)s/data',
)

# data acquisition with wilber module
wilber_config = Config(
    base=base_config,
    time_range      = ('2010-01-01 00:00:00', ('now', -3600)),
    event_filter    = lambda event: event.depth <= 100.*km and event.magnitude >= 6.0,
    station_filter  = lambda station: True,
    channels        = ['BHE', 'BHN', 'BHZ'],
    vnetcodes       = ['_GSN-BROADBAND'],   
    netcodes        = [],                    # if empty all are retrieved
    before_p        = 5, # minutes
    after_p         = 50, # minutes
    username        = 'sebastian',
    email           = 'sebastian.heimann@zmaw.de',
)

# general configuration
prepare_config = Config(
    base = base_config,
    resitution_frequencyband = (0.01, 0.02, 0.5, 1.),
    restitution_fade_time = 1./0.02,
    displacement_limit = 1.,
    gfdb_path = '/kinherd/gfdb/gemini-iasp91-11000km-body/db',
    gfdb_margin = 150*km,
    rotation_table = [ 
        [('BHN', 'BHE'), ('BHR', 'BHT')],
        [('HHN', 'HHE'), ('HHR', 'HHT')] 
    ]
)

# configuration specific to rapidinv
rapid_config = Config(
    base=prepare_config,
    trace_time_zero = 'event',
    trace_factor = 1.0e9,
    skeleton_dir = '%(base_dir)s/skeleton/rapid',
    main_dir = '%(event_dir)s/rapid',
    data_dir = '%(main_dir)s/data',
    stations_path = '%(data_dir)s/stations.dat.rapid',
    rapid_input_path = '%(main_dir)s/rapidinv.inp',
    trace_path = '%(data_dir)s/DISPL.%(network)s.%(station)s.%(location)s.%(channel)s'
)

# configuration specific to kiwi
kiwi_config = Config(
    base=base_config,
    trace_time_zero = 'event',
    trace_factor = 1.0e9,
    nsets = 2,
    skeleton_dir = '%(base_dir)s/skeleton/kiwi',
    main_dir = '%(event_dir)s/kiwi',
    data_dir = '%(main_dir)s/data',
    wanted_components = ['BHZ', 'BHT'],
    kiwi_component_map = {
        'BHZ': 'u', 
        'BHN': 'n',
        'BHE': 'e',
        'BHT': 'r',
        'BHR': 'a'
    },
    receivers_path = '%(data_dir)s/receivers.table',
    source_origin_path = '%(data_dir)s/source-origin.table',
    reference_time_path = '%(data_dir)s/reference-time.txt',
    trace_path = '%(data_dir)s/reference-%(ireceiver)s-%(component)s.mseed',
)
